<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.secKill.model.mapper.ItemMapper">


	<select id="listType" resultType="com.born.secKill.model.entity.ItemType">
		select * from item_type
	</select>



</mapper>